[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest-playwright = "*"
sqlmodel = "*"
undetected-chromedriver = "*"
selenium = "*"
setuptools = "*"
boto3 = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.12"
